

<div class="registration">


  <a style="text-decoration: none;" href="/registration">
    <div class="register_button">
       Register
    </div>
  </a>



<div id="login_form">

<h2 style="text-align: center;">OR</h2>

<form action="/" method="post">
     <label for="username">Username</label>
  <br/>
     <input class="wide_input" type="text" name="username" id="username"/>

  <br/>
      <label for="password">Password</label>
  <br/>
      <input class="wide_input"  type="password" name="password" id="password"/>
  <br/>
  <br/>
      <button type="submit" class="button">Sign In</button>
</form>


</div>

</div>
