

<div id="registration">


  <a href="/registration">
    <div id="register_button">
       Register
    </div>
  </a>



<div id="login_form">

<h2 style="text-align: center;">OR</h2>

<form action="/" method="post">
     <label name="username">Username</label>
  <br/>
     <input style="width: 300px;" type="text" name="username" id="username"/>

  <br/>
      <label name="password">Password</label>
  <br/>
      <input style="width: 300px;" type="password" name="password" id="password"/>
  <br/>
  <br/>
      <button style="width: 300px;">Sign In</button>

</form>

</div>

</div>