
<div class="registration">
<h1>Register Here!</h1>




<form action="/registration" method="post">
  <div id="info_box">
    <h3 id="border_text">Information</h3>
  <% if flash[:reg_error] %>
  <p  style="color: red; text-align: left; "><%= flash[:reg_error] %></p>
  <% end %>
      <label for="username">Username</label>
      <input class="not_wide_input" type="text" name="username" id="username"/>
   <br/>
  <br/>
      <label  for="password">Password</label>
      <input class="not_wide_input" type="password" name="password" id="password"/>
    <br/>
    <br/>



  </div>
<br/>
  <button class="button" >Submit</button>


  </form>

</div>



