.wrapper {
    margin:auto;
    width:980px;
    background-color:white;
}

#register_button {
    border: 2px solid black;
    height: 50px;
    background-color: gray;
    text-align: center;
    padding-top: 25px;
}


#login_form {
    height: 50px;
    padding-top: 25px;
}

.registration{
    width: 300px;
    margin: auto;
}

.wide_input {
    width: 300px;
}

.not_wide_input {
    width:200px;
}

#info_box {
    border: 2px solid black;
    height: 80%;
    text-align: center;
    padding-top: 25px;
    padding-left: 10px;
}

#border_text {
    width:100px;
    margin-top:-35px;
    margin-left:10px;
    background: white ;
}

.bordered_table {
    border:2px solid grey;
    /*border-radius:20px;*/
}

.headings {
    background: darkgray;
}

.grid { border:2px solid grey;
}